@model Status

<form method="post" action="Update2">
    <input asp-for="Id" hidden />
    <input asp-for="Name" class="form-control" placeholder="status adı giriniz" />
    <button type="submit" class="btn btn-primary">Güncelle</button>

</form>